$color-body-bg: linear-gradient(#141820, #061424);
$color-body-light-bg: #ecf0f3;
$color-text: #dfdfdf;
$color-black: #000;
$color-light: #fff;
$color-quiz-option: #061424;
$color-number-title: #007474;

$color-bg-btn: #064c4c;
$color-bg-btn-hover: rgba(6, 108, 78, 0.85);

$color-correct: #0b5e0b;
$color-correct-light: rgba(11, 94, 11, 0.7);
$color-wrong: #e90303;
$color-wrong-light: rgba(233, 3, 3, 0.9);

$color-modal-shadow: rgba(0, 0, 0, 0.9);
$color-bg-modal: #061424;
$color-bg-modal-btn: #032464;
$color-bg-modal-btn-hover: #2360d5;

$color-add: #db4545;
$color-add-hover: #c91414;





$content-width: 148rem;
$laptop-small-correction: 1200px;
$laptop-small-change: 992px;
$tablet-width: 768px;
$tablet-small-width: 520px;
$mobile-big-width: 390px;
$mobile-small-width: 320px;