.info {
    padding-bottom: 3rem;
}

.info__title {
    margin-bottom: 5rem;
}

.info__wrapper {
    @include flex();
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.8rem;
    max-width: 20rem;
    margin: 0 auto;

    @include media-tablet {
        max-width: 15rem;
    }
    @include media-tablet-small {
        max-width: 12rem;
    }
    @include media-mobile {
        max-width: 10rem;
    }
}

.info__items {
    @include flex();
    flex-direction: column;
    padding-bottom: 5rem;
    align-items: flex-start;
}

.info__title-add {
    margin-bottom: 2rem;
    text-align: start;
}

.info__word {
    margin-bottom: 0.5rem;
    letter-spacing: 0.2rem;
}

body.light .info__word {
    font-weight: 500;
}

.info__word-special {
    @include font($size: 1.3rem);
}

body.light .info__word-special {
    font-weight: 500;
}