.preview {
    padding-bottom: 3rem;
}

.preview__title-main {
    margin-bottom: 8rem;
}

.abc__wrapper {
    @include flex();
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 2rem;
    
    @include media-tablet {
        justify-content: center;
    }
    @include media-laptop-change {
        justify-content: space-evenly;
        column-gap: 4rem;
        row-gap: 3rem;
    }
}

.abc__wrapper-main {
    padding-bottom: 10rem;
}

.abc {
    @include font($size: 1.8rem, $weight: 500);
    @include flex();
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 0.1rem solid $color-text;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.3rem 0.5rem 0 rgba(255, 255, 255, 0.5);
    @extend %transition;

    &:hover {
        background: #d7d7d7;
        color: rgba(0, 0, 0, 0.8);
    }
    &:active {
        box-shadow: none;
        @extend %transition;
    }

    @include media-tablet-small {
        width: 3.5rem;
        height: 3.5rem;
    }
}

.active {
    background: #d7d7d7;
    color: rgba(0, 0, 0, 0.8);
}

body.light .abc {
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 5px 5px 5px #d7d7d7, -5px -5px 5px #f9f9f9;
    border: none;
}

.preview__title {
    margin-bottom: 3rem;
}

.preview__subtitle {
    margin-bottom: 5rem;
}

body.light .preview__subtitle {
    color: rgba(0, 0, 0, 0.8);
}

.quiz-category__wrapper {
    justify-content: space-around;
}
.quiz-category {
    @include font($size: 2rem, $weight: 500);
    width: 10rem;
    height: 5rem;
    box-shadow: 0.2rem 0.5rem 0.5rem 0 rgba(255, 255, 255, 0.5);
    @extend %transition;

    &:active {
        box-shadow: none;
        @extend %transition;
    }
}