.to-top {
    position: fixed;
    right: 1rem;
    bottom: 0;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: $color-add;
    @include flex();
    flex-direction: column;
    justify-content: center;
    @extend %link-color;
    text-align: center;
    margin-bottom: 1.1rem;
    @extend %transition;
    z-index: 1;
    box-shadow: 0.3rem 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.3);
    &:active {
        box-shadow: none;
    }

    &:hover {
        background-color: $color-add-hover;
        @extend %transition;
    }

    @include media-tablet-small {
        width: 3.5rem;
        height: 3.5rem;
    }
}

